body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    color: wheat;
}
.main{
    font-family: 'Merriweather Sans', sans-serif;
}

/*header*/
    /*barre de navigation*/
.navlogo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    background-color: #8d4c50;
}
.navlogo nav{
    width: 80%;
    align-self: center;
}
.nav li{
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}
.nav a{
    width: 14%;
}
.nav{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-family: 'Merriweather Sans', sans-serif;
}
.nav a{
    text-decoration: none;
    color: wheat;
}
.nav :hover{
    color: #ffffff;
}
.logo{
    font-family: 'Permanent Marker', cursive;
    width: 10%;
    padding-left: 3%;
    text-align: center;
}
/*/header*/

/*photo*/
.photo{
    margin: 0%;
    height: 30em;
    display: flex;
    justify-content: center;
    background-color: #212738;
}
.photo img{
    border-radius: 50%;
    display: flex;
    height: 80%;
    align-self: center;
}
/*/photo*/

/*section .main*/

    /*nom & prénom, métier visé et résaux*/

.resaux{
    display: flex;
    flex-direction: column;
}
.resaux h1{
    text-align: center;
    margin: 0%;
    font-size: 3em;
    background-color: #8d4c50;
}
.resaux h2{
    text-align: center;
    margin: 0%;
    font-size: 2em;
    background-color: #8d4c50;
}
.resaux section{
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #8d4c50;
}
.resaux figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 170%;
}
.resaux a{
    text-decoration: none;
    padding: 0%;
    color: wheat;
}
.resaux a :hover{
    color: #ffffff;
}
.resaux img{
    width: 50%;
    align-self: center;
}
#fb{
    width: 45%;
}
.CVpapier{
    display: flex;
    justify-content: center;
    background-color: #212738;
}
.CVpapier a{
    width: 18%;
    justify-content: center;
}
.CVpapier span{
    text-align: center;
    margin: 1%;
    padding: 1%;
    background-color: #8d4c50;
    border-radius: 3em;
    border: 5px double;
}
.resaux p{
    background-color: #212738;
    display: flex;
    justify-content: end;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
}
    /*/section photo + résaux*/

    /*section A propos*/

.apropos{
    margin: 0%;
    padding-bottom: 5%;
    padding-right: 15%;
    text-align: center;
    padding-left: 15%;
    font-size: 150%;
    line-height: 1.7;
    background-color: wheat;
    color: #8d4c50;
}
.apropos h2{
    font-size: 250%;
    margin-top: 0%;
    padding-top: 4%;
}
.apropos span{
    text-align: left;
}
    /*/section A propos*/

    /*section competence*/

.competences{
    display: flex;
    flex-direction: column;
    background-color: #8d4c50;
    padding-left: 3%;
    padding-right: 3%;
}
.competences h2{
    text-align: center;
    margin: 0%;
    font-size: 300%;
    padding-top: 4%;
}
.competences ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: disclosure-closed;
    font-size: 150%;
    flex-wrap: wrap;
}
.competences li{
    width: 50%;
    margin-bottom: 3%;
}
.a{
    display: flex;
    height: 4em;
    justify-content: space-around;
    margin: 4%;
}
.competence{
    margin: 0%;
    width: 20%;
    border: 2px solid;
    display: flex;
    font-size: 150%;
    align-items: center;
    height: 100%;
}
.sassjs{
    width: 4em;
    background-color: coral;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 4%;
    width: 0.3em;
    background-color: #212738;
}
.figcp{
    align-items: center;
    width: 60%;
    background-color: coral;
    display: flex;
    height: 100%;
    padding-left: 4%;
    background-color: #212738;
}
    /*/section competences*/

    /*section realisations*/

.realisations{
    background-color: #212738;
    padding-bottom: 4%;
}
.realisations h2{
    text-align: center;
    font-size: 300%;
    padding: 4%;
    margin: 0%;
}
.realisations img{
    width: 25em;
    height: 20em;
    border-radius: 3em;
}
.realisations figure{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.realisations figcaption{
    text-align: center;
    color: wheat;
    font-size: 1.5em;
}
.realisations a{
    width: 50%;
    text-decoration: none;
}
.lien1, .lien2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgsitetp{
    margin-top: 10%;
}
    /*/section realisations*/

    /*section etude*/

.etudes{
    background-color: wheat;
    color: #8d4c50;
}
.etudes h2{
    font-size: 300%;
    text-align: center;
    margin: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.etudes ul{
    width: 100%;
    font-size: 150%;
    display: flex;
    list-style-type: decimal;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0%;
}
.etudes li{
    width: 35%;
    margin-bottom: 4%;
}
    /*/section etude*/

    /*section experiences*/

.experiences{
    background-color: #8d4c50;
    color: wheat;
    padding-right: 3%;
}
.experiences h2{
    font-size: 300%;
    text-align: center;
    margin: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.experiences ul{
    display: flex;
    width: 100%;
    font-size: 150%;
    flex-wrap: wrap;
    margin-bottom: 0%;
}
.experiences li{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
}
.experiences span{
    width: 75%;
}
    /*/section experiences*/

    /*footer*/

footer{
    display: flex;
    background-color: #212738;
    color: wheat;
    font-size: 150%;
}
footer span{
    font-weight: bold;
}
footer p{
    width: 33%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.left{
    margin-left: 3%;
}
.right{
    margin-right: 3%;
}

@media screen and (max-width: 1280px) {
    .nav li{
        font-size: 100%;
    }
}
@media screen and (max-width: 1000px){
    .nav a{
        width: 28%;
        margin-bottom: 1%;
    }
    .nav{
        flex-wrap: wrap;
    }
    .competences{
        flex-direction: column;
    }
    .competences ul{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .a{
        align-items: center;
        flex-direction: column;
        margin: 6%;
    }
    .competence{
        margin: 3%;
        width: 65%;
        align-items: center;
    }
    .lien1, .lien2{
        flex-direction: column;
    }
    .realisations a{
        width: 100%;
    }
    .etudes ul{
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }
    .etudes li{
        width: 75%;
    }
    .experiences li{
        flex-direction: column;
        text-align: center;
    }
    .experiences span{
        margin: 1%;
    }
    footer{
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    footer p{
        width: 100%;
    }
}

